{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - War Graph</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <h1 class="title">ABOUT</h1>
    <div class="texto">
        <p>
            Você é um general com grandes chances de perder o seu emprego<strike>, ou sua cabeça</strike>. Invadiram o território de seu país e agora você se vê em um único ponto, uma última cidade, 
            sem chance alguma de reaver o território por inteiro sem a decorrência de grandes sacrifícios.
            Descrentes de sua inteligência e capacidade, seus últimos aliados contratam um grupo de pessoas que claramente não sabia o que estava fazendo para criar um algoritmo que tomasse a melhor 
            decisão de qual local atacar em seguida.
            Você furioso, partiu com seus homens para mostrar que conseguiria tomar uma rota melhor do que a deste algoritmo maldito.
        </p>
        <p>War Graph é um jogo simples de tomada de decisões criado com o único objetivo de seus criadores utilizarem a estrutura de dados chamada Grafo. 
            Seu objetivo primário neste jogo é conquistar uma área maior ou igual a do algoritmo utilizado (varia de acordo com a dificuldade escolhida).</p>
        <p>
            Seus soldados possuem ❤️ (vida) e 🍗 (suprimentos) e gastam ambos para conquistar qualquer ponto que você vá no mapa. Suprimentos também são gastos para visitar bases já conquistadas.
            O gasto de 🍗 depende da 📏 (distância) percorrida, quanto mais longe, mais suprimentos serão gastos.
            Cada local possui sua própria infantaria de resistência e para ser conquistado é necessário que o seus soldados paguem com sua ❤️.
            Caso você vá para um local tão distante que seus suprimentos acabem no meio da viagem, sua ❤️ começará a ser consumida no lugar.
        </p>
        <p>
            Cada base a ser conquistada possui seu ⚔️ (poderio militar), 🍗 (suprimentos), 🩹 (medicamentos) e 🗺️ (área). Caso sobreviva a viagem e a batalha, após acabar com o ⚔️ adversário, seu 
            exército recebe todos os outros que são somados a seus 🍗 (suprimentos), ❤️ (vida) e 🗺️ (área) respectivamente. Quando uma cidade nunca foi visitada, seu símbolo no mapa aparecerá com a 
            <span style="color:#90EE90;">cor verde</span>, quando já foi visitada, irá aparecer com a <span style="color: red;">cor vermelha</span>, as únicas exceções são as bases, que podem ser
            revisitadas, porém não se ganha recursos ao se fazer isso, as bases irão aparecer com a <span style="color: lightblue;">cor azul</span> após terem sido visitadas.
        </p>
        <p style="text-align: center;">
            Boa sorte em sua campanha general.
        </p>
    </div>
    <div class="middle" style="margin-top: 2%;">
        <a href="{% url 'index' %}" class="btn btn4">Voltar</a>
    </div>
</body>
</html>