{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>War Graph</title>
        <link href="{% static 'styles/style.css' %}" rel="stylesheet">
        <link href="{% static 'styles/fim.css' %}" rel="stylesheet">
        <link href="{% static 'styles/botoes.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="fim">
            {% if vizinhos != 0 %}
                {% if p.vida > 0 %}
                    {% if p.Area == area_obj %}
                        <div class="title bom"><h1>Parabéns</h1></div>
                        <div class="texto">Você venceu por pouco!</div>
                    {% elif p.Area > area_obj %}
                        <div class="title bom"><h1>Parabéns</h1></div>
                    {% else%}
                        <div class="title ruim"><h1>GAME OVER</h1></div>
                        <div class="texto">Você ficou sem opções para andar</div>
                    {% endif %}
                {% else %}
                    <div class="title ruim"><h1>GAME OVER</h1></div>
                {% endif %}
                <div class="texto">
                    Sua área final foi de {{ p.Area }}, a área da IA foi {{ area_obj }}<br><br>
                    <div class="rotas">
                        <div class="lista">
                            A sua rota foi:
                            {% for item in p.Caminho %}
                                <span>{{ item }}</span>
                            {% endfor %}
                        </div>
                        <div class="lista">
                            A rota da IA foi:
                            {% for item in rota %}
                                <span>{{ item }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="title ruim"><h1>GAME OVER</h1></div>
                <div class="texto">
                    Você demorou tanto a agir que ficou completamente isolado do resto do mapa, não existe jogo para você
                </div>
            {% endif %}
            <br><br>
            <a href="{% url 'reset' %}" class="reset btn btn1">Resetar o Jogo</a>
        </div>
    </body>
</html>