{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>War Graph</title>
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <script src="{% static 'script.js' %}" defer></script>
    </head>
    <body>
        <div class="jogo">
            <h1 class="pontoatual">Você está em {{ localizacao }}</h1>
            <div class="chance"><h1>Possui {{ chance }}% de vencer o jogo</h1></div>
            <div class="mapa">{{mapa | safe}}</div>
            <div class="dados"><span><h3>Status Atuais:</h3></span><span>❤️: {{vida}}</span><span>🍗: {{suprimentos}}</span></div>
            <div class="barra">Progresso Área Conquistada: <progress id="life-bar" max="{{ area_obj }}" value="{{ area }}"></progress>{{ area }}/{{ area_obj }}</div>
        </div>
    </body>
</html>