{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>War Graph</title>
        <link href="{% static 'styles/style.css' %}" rel="stylesheet">
        <link href="{% static 'styles/jogo.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="jogo">
            <h1 class="pontoatual">Você está em {{ localizacao }}</h1>
            <div class="chance"><h1>Possui {{ chance }}% de vencer o jogo</h1></div>
            <div class="mapa"><div class="auxMapa">{{mapa | safe}}</div></div>
            <div class="dados"><span><h3>Status Atuais:</h3></span><span>❤️: {{vida}}</span><span>🍗: {{suprimentos}}</span></div>
            <div class="barra">Progresso Área Conquistada: 
                <div class="progress-bar">
                    <div class="{{cor}}" style="width:{{porcentagem}}%;">{{ area }}/{{ area_obj }}</div>
                </div>
        </div>
    </body>
</html>